<mat-toolbar>
    <button mat-button (click)="selectAllAccounts()"
        [ngClass]="{'toolbar-accounts': true, 'active': allAccountsSelected()}"
        matTooltip="all accounts">
        *{{getAllAccountsTooltip()}}
    </button>
    <button mat-button (click)="selectLackingAccounts()"
        [ngClass]="{'toolbar-accounts': true, 'active': lackingAccountsSelected()}"
        matTooltip="no account associated">
        -{{getLackingAccountsTooltip()}}
    </button>
    <ng-container *ngFor="let account of accounts">
        <button mat-button [ngClass]="{'toolbar-accounts': true, 'active': account.name == selectedAccount.name}"
            (click)="selectAccount(account)">
            {{account.name}}{{getAccountsTooltip(account)}}
        </button>
    </ng-container>
    <ng-container *ngIf="renderSyncButton">
        <button mat-button (click)="sync()" [disabled]="syncing">
            <mat-icon>{{syncing ? 'sync_lock' : 'sync'}}</mat-icon>
            <span>{{syncing ? 'syncing... (' + progress100 + ' %)' : 'sync'}}</span>
            <mat-progress-bar mode="determinate" [value]="progress100"></mat-progress-bar>
        </button>
    </ng-container>
</mat-toolbar>