<mat-toolbar>
    <button mat-icon-button (click)="snav.toggle()" [ngClass]="{'active': snav.opened}"><mat-icon>menu</mat-icon></button>
    <span>VIFA - visual feed aggregator</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav class="mat-elevation-z8" opened mode="side">
        <app-profile [routerLink]="['/profile-settings']" routerLinkActive="active"></app-profile>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button" [routerLink]="['/home']" routerLinkActive="active">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
        <button mat-button class="menu-button" [routerLink]="['/accounts']" routerLinkActive="active">
            <mat-icon>person</mat-icon>
            <span>Accounts</span>
        </button>
        <button mat-button class="menu-button" [routerLink]="['/subscriptions']" routerLinkActive="active">
            <mat-icon svgIcon="yt-sub"></mat-icon>
            <span>Subscriptions</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>