.invisible {
    display: none;
}

.blurred {
    filter: blur(32px);
    pointer-events: none;
}

#lock {
    position: absolute;
    left: 0;
    right: 0;
    top: 48%;
    bottom: 48%;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.card-anim-wrapper {
    position: relative;
}

.card-anim-wrapper:before,
.card-anim-wrapper:after,
.card-anim-wrapper>.card:before,
.card-anim-wrapper>.card:after {
    position: absolute;
    content: '';
    background-color: white;
    transition: all 0.25s ease-in-out;
}

.card-anim-wrapper:before {
    top: 0;
    left: 1px;
    width: 0;
    height: 2px;
    z-index: 2;
}

.card-anim-wrapper:after {
    bottom: 0;
    right: 1px;
    width: 0;
    height: 2px;
}

.card-anim-wrapper:hover:before,
.card-anim-wrapper:hover:after {
    width: calc(100% - 2px);
}

.card-anim-wrapper>.card {
    position: relative;
    padding: 2px;
}

.card-anim-wrapper>.card:before {
    top: 0;
    right: 0;
    height: 0;
    width: 2px;
}

.card-anim-wrapper>.card:after {
    bottom: 0;
    left: 0;
    height: 0;
    width: 2px;
}

.card-anim-wrapper>.card:hover:before,
.card-anim-wrapper>.card:hover:after {
    height: 100%;
}
